#nav
{
    /* container */
}
    #nav > a
    {
        display: none;
    }
    #nav li
    {
        position: relative;
    }

    /* first level */

    #nav > ul
    {
        height: 3.75em;
    }
        #nav > ul > li
        {
            padding: 20px; 
            height: 10px;
            float: left;
        }

    /* second level */

    #nav li ul
    {
        display: none;
        position: absolute;
        top: 100%;
    }
        #nav li:hover ul
        {
            display: block;
        }


