
edit()
@import 'jeet'
@import 'reset'

.navigation

  /* Collapsed */
  width 0

  overflow hidden
  position fixed
  top 0
  left 0
  height 100%
  color blue


.page-wrap
  width 100%
  float right
  color black

.navigation
  transition width 0.3s ease

#main-nav:target
  width 20%

#main-nav:target + .page-wrap
    width 80%
